body { text-align: center; }
li { list-style: none; }

.head { margin: 50px 0; }
.foot { margin: 50px 0; }
.version { margin-top: 10px; color: var(--color-secondary); font-size: 0.9em; }

h1.info { font-size: 1.5em; }
h2.info { font-size: 1.2em; color: var(--color-secondary); }

.action { margin: 100px 0 50px; }
.actionButton { margin-top: 40px; font-size: 1.2em; }
.message { color: var(--color-secondary); }

@media screen and (max-width: 720px) {
  body { padding: 20px; }
}