<!DOCTYPE html>
<html>
<head>
  <title>EVERFILE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1, shrink-to-fit=no">
  <meta name="application-name" content="EVERFILE">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#202428">
  <link rel="icon" href="/favicons/favicon.ico">
  <link rel="apple-touch-icon" href="/favicons/appletouch.png" sizes="180x180">
  <link rel="shortcut icon"    href="/favicons/appletouch.png" sizes="180x180">
  <link rel="stylesheet" href="/styles/common.css">
  <link rel="stylesheet" href="/styles/notready.css">
</head>
<body data-theme="dark">
    <div class="head">
      <div class="logo"><a href="/"><img src="/media/logo-all.svg" width="200px"></a></div>
      <h2 class="info">NOT READY</h2>
    </div>
    <div class="main">
      <h1>UNDER CONSTRUCTION</h1>
      <div class="hero"><img src="/media/notready.png" width="600px"></div>
      <h2 class="subtitle">Please come back later</h2>
    </div>
    <div class="foot">
      <div class="rights">&copy; 2023 EVERFILE</div>
      <div class="version">Version 1.0</div>
    </div>
</body>
</html>