<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EVERFILE</title>
  <link rel="stylesheet" href="/styles/common.css">
  <link rel="stylesheet" href="/styles/notready.css">
</head>
<body data-theme="dark">
    <div class="head">
      <div class="logo"><a href="/"><img src="/media/logo-all.svg" width="200px"></a></div>
      <h2 class="info">NOT READY</h2>
    </div>
    <div class="main">
      <h1>UNDER CONSTRUCTION</h1>
      <div class="hero"><img src="/media/notready.png" width="600px"></div>
      <h2 class="subtitle">Please come back later</h2>
    </div>
    <div class="foot">
      <div class="rights">&copy; 2023 EVERFILE</div>
      <div class="version">Version 1.0</div>
    </div>
</body>
</html>